body{
    background-image: linear-gradient(to bottom, rgb(51, 211, 211), rgb(13, 121, 215));
    color: aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
}
#weather-container{
    
    background-color: rgba(30, 68, 114, 0.5);
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 30px;
    text-align: center;
    border: 1px solid #000000;
    backdrop-filter: blur(10px) black;
    transition: 0.5s;

    
}
@media screen and (max-width: 600px) {
    #weather-container{
        width: 90%;
    }
    
}


h1,label,p{
    color: aliceblue;
}
input{
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    margin-top: 20px;
    width: calc(100% - 16px);
}
button{
    padding: 8px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #00c6ff, #0072ff);
    border: none;
    
    width: calc(100% - 16px);
  
    color: #ffffff;
    cursor: pointer;
    opacity: 0.8;
    
   
    
}
button:hover{
    background-color:blue;
    opacity: 1;
    
}
#temp-div{
    font-size: 60px;
    margin-top: -30px;
    margin-bottom: 0;
    
}

#weather-info{
    font-size: 20px;
}
#hourly-forecast{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    white-space: nowrap;
    overflow-x: auto;
    
    
    

}
#hourly-forecast::-webkit-scrollbar {
    width: 10px;
}
#hourly-forecast::-webkit-scrollbar-thumb {
    background-color: #2672cf;
    border-radius: 10px;
}
#hourly-forecast::-webkit-scrollbar-track {
    
    border-radius: 10px;
    box-shadow: inset 0 0 5px grey;
}
#hourly-forecast::-webkit-scrollbar-thumb:hover {
    background-color: #5aa4e0;
}



.hourly-item{
    flex: 0 0 auto;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: #ffffff;
    

}
.hourly-item img{
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}
#hourly-heading{
    margin-top: 10px;
    color: #ffffff;
}
